{% extends 'accounts/base.html' %}

{% block section_one %}
<section class="car_view" style="align-items: start">
    <div class="container-sm">
        <div class="row justify-content-md-center">
            <div class="col-sm-5">
                <form method="POST" novalidate class="d-grid gap-0 bg-dark bg-gradient p-2 rounded">
                    <table class="table table-responsive table-bordered table-hover table-dark">
                        <tr>
                            <td>{{form.status.label}}</td>
                            <td>{{form.status}}</td>
                        </tr>
                    </table>
                        <button name="dodaj" class="btn btn-success btn-lg bg-gradient mb-4" style="font-size: large">Potwierdź</button>
                        <div style="height: 1px; visibility: hidden"> {{form.start}} </div>
                        {% comment %} <a href="{% url 'password_reset' %}" class="btn btn-warning btn-lg bg-gradient fs-3"  role="button">Reset hasła</a> {% endcomment %}
                        {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

